<nav>
    <div class="nav-wrapper white">
        <a routerLink="/" class="brand-logo">Movielib</a>
        <a href="#" data-target="mobile-ver" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="bold" *ngFor="let link of links" routerLinkActive="active">
                <a class="waves-effect waves-orange" [routerLink]="[link.url]">{{ link.name }}</a>
            </li>
            <li class="bold">
                <a href="#" class="waves-effect waves-orange" (click)="logout($event)">Exit</a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-ver">
    <li class="bold" *ngFor="let link of links" routerLinkActive="active">
        <a class="waves-effect waves-orange" [routerLink]="[link.url]">{{ link.name }}</a>
    </li>
</ul>

<div class="content">
	<router-outlet></router-outlet>
</div>

<!--Floating button-->
<div class="fixed-action-btn" #floating>
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
        	<a class="btn-floating green">
        		<i class="material-icons">assignment</i>
        	</a>
        </li>
    </ul>
</div>