<nav>
	<div class="nav-wrapper white">
		<a routerLink="/" class="brand-logo">Movielib</a>
		<a href="#" data-target="mobile-ver" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li class="bold" *ngFor="let link of links" routerLinkActive="active">
				<a [routerLink]="[link.url]">{{ link.name }}</a>
			</li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-ver">
	<li class="bold" *ngFor="let link of links" routerLinkActive="active">
		<a [routerLink]="[link.url]">{{ link.name }}</a>
	</li>
</ul>

<div class="auth-block">
	<router-outlet></router-outlet>
</div>