<div class="row parallax-banner">
	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">
			<div class="container">
				<br><br>
				<h1 class="header center teal-text text-lighten-2">Movielib</h1>
				<div class="row center">
					<h5 class="header col s12 light">A modern comfortable movie library</h5>
				</div>
				<br><br>
			</div>
		</div>
		<div class="parallax" #parallax><img src="assets/img/parallax.jpg" alt="Unsplashed background img 1"></div>
	</div>
</div>

<app-movie-list></app-movie-list>
